<template>
<v-card>
  <v-form v-model="valid" ref="form" lazy-validation>
    <v-layout row wrap>
      <v-flex xs12 sm10 md11>
        <v-text-field label="Word" v-model="word" :rules="wordRules" required></v-text-field>
      </v-flex>
      <v-flex xs12 sm10 md11>
      <!-- <v-flex xs2 sm2 md1> -->
        <!-- <speech-to-text :text.sync="word" @speechend="speechEnd"></speech-to-text> -->
        <speech-to-text :text.sync="word"></speech-to-text>
      </v-flex>
    </v-layout>
    <v-text-field label="Pronunciation" v-model="pronunciation">
    </v-text-field>

    <v-textarea label="Definition" v-model="definition">
    </v-textarea>

    <v-select label="Origin" v-model="origin" :items="originList">
    </v-select>

    <v-select label="Part Of Speech" v-model="partOfSpeech" :items="partOfSpeechList">
    </v-select>

    <v-textarea label="Word Sentence Example" v-model="example">
    </v-textarea>

    <v-btn @click="submit" :disabled="!valid">Submit</v-btn>
    <v-btn @click="clear">Reset Form</v-btn>

  </v-form>
</v-card>
</template>

<script>
import axios from 'axios';
// import WBBSpeechRecognition from '@/views/SpeechRecognition.vue';
import WBBSpeechRecognition from '@/components/MyPocketSphinx.vue';

// URL for API server (i.e. Express web server)
const apiServer = 'http://localhost:3001';

export default {
  components: {
    'speech-to-text': WBBSpeechRecognition,
  },
  data: () => ({
    valid: true,
    word: '',
    pronunciation: '',
    definition: '',
    origin: '',
    partOfSpeech: '',
    example: '',
    wordRules: [
      v => !!v || 'Word is required',
      v => (v && v.length > 2) || 'Word length must have minimum of three letters',
      v => (v && v.length < 50) || 'Word length can not exceed the longest dictionary word',
    ],
    // Static Data: Origin
    originList: [
      'Latin',
      'Engilsh',
      'German',
      'Asian',
      'French',
    ],
    select: null,
    // Static Data: Part Of Speech
    partOfSpeechList: [
      'Noun',
      'Verb',
      'Adjective',
    ],
  }),

  methods: {
    // // Handles Speech Recognition
    // speechEnd({ text }) {
    //   console.log(`SB: FlashCard - text is ${text}`);
    //   this.text = text;
    // },

    // SUBMIT - method, data, url, header
    submit() {
      if (this.$refs.form.validate()) {
        return axios({
          method: 'post',
          data: {
            word: this.word,
            pronunciation: this.pronunciation,
            definition: this.definition,
            origin: this.origin,
            partOfSpeech: this.partOfSpeech,
            example: this.example,
          },
          url: `${apiServer}/words`,
          header: {
            'Content-Type': 'application/json',
          },
        })
          .then(() => {
            // using SweetAlert2
            this.$swal(
              'Thanks!',
              'Word added to our WordLake!',
              'success',
            );
            this.$router.push({ name: 'flashCards' }); // What is 'Home'????
            this.$refs.form.reset();
          })
          .catch(() => {
            // using SweetAlert2
            this.$swal(
              'Oops.. Please try again',
              'Something went wrong. Could not add the word.',
              'error',
            );
            console.log('Catching the error during Add Flash Card');
          });
      }
      return true;
    },

    // CLEAR
    clear() {
      this.$refs.form.reset();
    },
  },
};

</script>
