<template>
  <v-layout row wrap>

    <!-- Flash Cards displayed dynamically -->
    <v-flex d-flex xs12 md6 v-for="word in words" :key="word._id">
      <v-card>
        <v-card-title primary-title>
          <div>
            <div class="headline">
              <v-btn flat color="blue" v-bind:to="`/words/${word._id}`">
                {{word.word}}
              </v-btn>
              <!-- <v-btn outline small color="light-blue" @click="playTrack()"> -->
              <v-btn outline fab small color="light-blue" @click="playTrack(word)">
                <v-icon medium>play_arrow</v-icon>
              </v-btn>
            </div>
            <v-spacer></v-spacer>
            <span class="grey--text">{{word.pronunciation}}</span>
          </div>
        </v-card-title>
        <v-card-text class="text-sm-left">
            <p><b>Definition: </b> {{word.definition}}</p>
            <p><b>Origin: </b> {{word.origin}}</p>
            <p><b>Part Of Speech: </b> {{word.partOfSpeech}}</p>
        </v-card-text>
        <!-- <v-card-actions>
          <v-btn flat color="purple">Add to My learning list</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions> -->
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>

// Helps make http and ajax calls
import axios from 'axios';

// URL for API server (i.e. Express web server)
const apiServer = 'http://localhost:3001';
const maxRows = 2; // controls number of flashcards displayed

export default {
  name: 'Words',
  data() {
    return { words: [] };
  },

  // Called when page loads
  mounted() {
    this.fetchWords();
  },

  methods: {
    /* Fetches Words uisng axios req
      api: /words?rowCount=num&queryFilters=filters
    */
    async fetchWords() {
      return axios({
        method: 'get',
        url: `${apiServer}/words`,
        params: {
          // queryFilters: {origin: {"$in": ['asian', 'latin']} }, // queryFilters
          queryFilters: { origin: 'latin' }, // queryFilters
          rowCount: maxRows,
        },
      })
        .then((response) => {
          this.words = response.data.words;
        })
        .catch((err) => {
          console.log('Error while fetching Words.');
          console.log(err.stack);
        });
    },
    playTrack(word) {
      speechSynthesis.speak(new SpeechSynthesisUtterance(word.word));
    },
  },
};

</script>
