<template>
  <v-layout>
    <v-flex xs12>
      <div>{{message}}</div>
    </v-flex>
    <v-flex xs12>
      <v-btn color="primary" v-on:click="reply">{{clickText}}</v-btn>
    </v-flex>
  </v-layout>
</template>

<script type="text/javascript">

export default {
  data() {
    return {
      message: 'This is home page. How do you like WannaBeBee?',
      clickText: 'Reply',
    };
  },
  methods: {
    reply() {
      this.message = 'I love it! You rock!!';
    },
  },
};
</script>
