<template>
  <div class="soundcard hidden-xs hidden-sm">
    <v-layout row wrap>

      <!-- Flash Cards displayed dynamically - dflex >> fill height -->
      <v-flex d-flex xs12 md6 v-for="word in words" :key="word._id">
        <v-card class="rounded-card">
          <v-card-actions>
            <!-- front card -->
            <div
              class="soundplay-card"
              v-show='!flipped(word._id)'
              v-bind:class="{ 'reveal-word': flipped(word._id) }"
            >
              <v-flex> <!-- Play button -->
                <v-btn dark fab medium color="light-blue" @click="playTrack(word)">
                  <v-icon medium>play_arrow</v-icon>
                </v-btn>
              </v-flex>
              <v-flex text-xs-right>  <!-- Flip the card button -->
                <v-btn flat icon medium color="blue" @click="flip(word._id)">
                  <v-icon medium>cached</v-icon>
                </v-btn>
              </v-flex>
            </div>
            <!-- end front card -->

            <!-- back card -->
            <div
              class="word-card"
              v-show='flipped(word._id)'
              v-bind:class="{'reveal-word':flipped(word._id)}"
            >
              <v-flex>
                <v-card-text>
                  <!-- Supercalifagilisticexpialidociousisthebigword -->
                  {{word.word}}
                </v-card-text>
              </v-flex>
              <v-flex text-xs-right> <!-- Flip the card button -->
                <v-btn flat icon medium color="blue" @click="flip(word._id)">
                  <v-icon medium>cached</v-icon>
                </v-btn>
              </v-flex>
            </div>
            <!-- end back card -->
          </v-card-actions>
        </v-card>

      </v-flex>
    </v-layout>
  </div>

</template>

<script>

// Helps make http and ajax calls
import axios from 'axios';

// URL for API server (i.e. Express web server)
const apiServer = 'http://localhost:3001';
const maxRows = 4; // controls number of flashcards displayed

export default {
  name: 'Words',
  data() {
    return {
      words: [],
      current: '', // used for flip card, enforcing only one flip
    };
  },
  // Called when page loads
  mounted() {
    this.fetchWords();
    /*
      this.scroll(this.words); // for infinite scrolling
    */
  },
  methods: {
    /* Fetches Words uisng axios req
      api: /words?rowCount=num&queryFilters=filters
    */
    async fetchWords() {
      return axios(
        {
          method: 'get',
          url: `${apiServer}/words`,
          params: {
          // queryFilters: {origin: 'latin'}, // queryFilters
            rowCount: maxRows,
          },
        },
      )
        .then((response) => {
          this.words = response.data.words;
        })
        .catch((err) => {
          console.log('Error while fetching Words.');
          console.log(err.stack);
        });
    },

    playTrack(word) {
      speechSynthesis.speak(new SpeechSynthesisUtterance(word.word));
    },

    // Only one card can be flipped, unset current if preset - toggle feel
    flip(wordId) {
      this.current = (this.current === wordId) ? '' : wordId;
    },

    flipped(wordId) {
      return (this.current === wordId);
    },

    /*
    // Infine Scrolling
    async scroll(words) {
      console.log(`Scrolling... ${words}`);
      window.onscroll = () => {
        const bottomOfWindow = document.documentElement.scrollTop
                                + window.innerHeight === document.documentElement.offsetHeight;

        if (bottomOfWindow) {
          console.log('We reached bottom');
          return axios({
            method: 'get',
            url: `${apiServer}/words`,
            // params: {
            // // queryFilters: {origin: 'latin'}, // queryFilters
            //   rowCount: maxRows,
            // },
          })
            .then((response) => {
              console.log(`pushing... ${response.data.words[0].word}`);
              words.push(response.data.words[0]);
            })
            .catch((err) => {
              console.log('Error while fetching Words.');
              console.log(err.stack);
            });
        }
        return 'returning just like that'; // but lint wants me to return something
      };
    }, // end scroll()
    */
  },
};

</script>
