<template>
  <v-card>
    <v-layout row wrap justify-space-around>

      <!-- SPEAK BUTTON -->
      <!-- ------------ -->
      <!-- <v-flex xs2 sm1 text-xs-center> -->
        <v-btn
          dark
          @click.stop="toggle ? endSpeechRecognition() : startSpeechRecognition()"
          icon
          :color="!toggle ? 'grey' : (speaking ? 'red' : 'red darken-3')"
          :class="{'animated infinite pulse': toggle}"
        >
          <v-icon>{{toggle ? 'mic_off' : 'mic'}}</v-icon>
        </v-btn>
      <!-- </v-flex> -->

      <!-- TEXT BOX -->
      <!-- -------- -->
      <!-- <v-flex xs8 sm9 text-xs-center>
        <p v-if="error" class="grey--text">{{error}}</p>
        <p v-else class="mb-0">
          <p v-if="text.length > 0">
            <span v-for="letter in text" :key="letter.id">
              {{letter}}
            </span>
        </p>
      </v-flex> -->

    </v-layout>
  </v-card>
</template>

<script>
/**
 * Available SpeechRecognition properties/events:
 * onaudioend, onaudiostart, onend, onerror, onnomatch, onresult,
 * onsoundend, onsoundstart, onspeechend, onspeechstart, onstart
*/

// Create a new instance of SpeechRecognition
const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
const recognition = SpeechRecognition ? new SpeechRecognition() : false;
recognition.lang = 'en-US';
recognition.interimResults = false;
recognition.maxAlternatives = 1;

/*
// Create SpeechGrammar list
const grammar = '#JSGF V1.0; grammar color; <color> = (red | green | blue | yellow | white | black | pink);';
const SpeechGrammarList = SpeechGrammarList || window.webkitSpeechGrammarList;
const speechRecognitionList = new SpeechGrammarList();
const SpeechRecognitionEvent = window.SpeechRecognitionEvent || window.webkitSpeechRecognitionEvent;

speechRecognitionList.addFromString(grammar, 1);
recognition.grammars = speechRecognitionList;
*/

export default {
  /**
   * Vue comes with two different ways of storing variables, props and data.
   *
   * Data: The private memory of each component where you can store any variables you need.
   * Props: Custom attributes you can register on a component.
   *        Using props you pass this data from a parent component down to a child component.
   *
   */

  props: {
    lang: {
      type: String,
      default: 'en-US',
    },
    text: {
      type: [String, null],
      required: true,
    },
  },
  // a component’s data option must be a function,
  // so that each instance can maintain an independent copy of the returned data object
  data() {
    return {
      error: false,
      speaking: false,
      toggle: false,
      isRecognitionRunning: false,
    };
  },

  // Called at load
  mounted() {
    this.checkCompatibility();
  },

  methods: {

    // Check Compatibility
    checkCompatibility() {
      if (!recognition) {
        this.error = 'Speech Recognition is not available on this browser. Please use Chrome or Firefox';
      }
    },

    // End Speech Recognition on user's request
    endSpeechRecognition() {
      if (this.isRecognitionRunning === true) {
        recognition.stop();
      }
      this.toggle = false;
    },

    // Start Speech Recognition on user's request
    startSpeechRecognition() {
      // We want to reset text each time user starts to record
      this.$emit('update:text', '');

      if (recognition) {
        this.toggle = true;
        recognition.lang = this.lang;


        /**
         * ******************************
         * Adding event handlers
         * *****************************
        */
        recognition.onstart = () => {
          // the only place setting it to true
          this.isRecognitionRunning = true;
          // console.log('Speech recognition start.');
        };

        // when the speech recognition service has disconnected
        recognition.onend = () => {
          // the only place setting it to false
          this.isRecognitionRunning = false;
          // console.log('Speech recognition end.');

          if (this.toggle) {
            recognition.start();
          }
        };

        recognition.onerror = () => {
          if (this.isRecognitionRunning === true) {
            recognition.stop();
          }
        };

        // when the speech recognition service has begun listening to incoming audio
        // with an intent to recognize grammars associated with the current instance
        recognition.onspeechstart = () => {
          this.speaking = true;
        };

        // when speech recognised by the speech recognition service has stopped being detected
        // automatically fires the recognition.onend event
        recognition.onspeechend = () => {
          this.speaking = false;
        };

        /*
        // Currently SpeechRecognition grammar not supported in firefox and chrome :-(
        
        recognition.onresult = (event) => {
          var last = event.results.length - 1;
          var color = event.results[last][0].transcript;
          const finalTranscript = color;

          console.log('Result received: ' + finalTranscript + '.');
          // bg.style.backgroundColor = color;
          this.$emit('update:text', `${this.text}${finalTranscript}`);
          console.log('Confidence: ' + event.results[0][0].confidence);
        }

        // When no grammar match 
        recognition.onnomatch = (event) => {
           console.log('I didnot recognise that color');
        };
        */

        // speech recognition service returns a result — i.e. recognized word
        recognition.onresult = (event) => {
          for (let i = 0; i < event.results.length; i += 1) {
            if (event.results[i].isFinal) {
              const finalTranscript = event.results[i][0].transcript;
              // console.log(`onresult: this.text : ${this.text}`);
              // console.log(`onresult: final_t : ${finalTranscript}`);
              this.$emit('update:text', `${this.text}${finalTranscript}`);
            }
          }
          /* *******************************************
          // This is same logic as the above loop, but less readable - hence commenting
          // *******************************************
          const finalTranscript = Array.from(event.results)
                            .map(result => result[0])
                            .map(result => result.transcript)
                            .join('');
            console.log(`onresult: final_t : ${finalTranscript}`);
            this.$emit('update:text', `${this.text}${finalTranscript}`);
          */
        };

        /**
         * Starting the Speech Recognition service
         */
        if (this.isRecognitionRunning === false) {
          recognition.start();
        }
      } else {
        this.error = 'Speech Recognition is not available on this browser. Please use Chrome or Firefox';
        // return false;
      }
    },

  },
};

</script>
