<template>
  <v-layout row justify-space-around >

    <!-- Word details Card -->
    <v-flex xs12 md6>
      <v-card class="mx-auto" color="#26c6">
        <v-card-title primary-title>
          <div>
            <div class="headline">
              {{word.word}}
              <v-btn outline fab small color="light-blue" @click="playTrack(word)">
                <v-icon medium>play_arrow</v-icon>
              </v-btn>
            </div>
            <span class="grey--text">{{word.pronunciation}}</span>
          </div>
        </v-card-title>
        <v-card-text class="text-sm-left">
            <p><b>Definition: </b> {{word.definition}}</p>
            <p><b>Origin: </b> {{word.origin}}</p>
            <p><b>Part Of Speech: </b> {{word.partOfSpeech}}</p>
            <p><b>Example: </b> {{word.example}}</p>
        </v-card-text>
        <v-card-actions>
          <!-- <v-btn color="gray" v-if="current_user" @click="edit">Edit the word</v-btn> -->
          <v-btn color="gray" v-bind:to="`/flashCards`">Edit the word</v-btn>
          <v-btn color="gray" v-bind:to="`/flashCards`">Back to Flash Cards</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>

// Helps make http and ajax calls
import axios from 'axios';

// URL for API server (i.e. Express web server)
const apiServer = 'http://localhost:3001';

export default {
  name: 'Word',
  data() {
    return { word: [] };
  },

  // Called when page loads
  mounted() {
    this.fetchWord();
  },

  methods: {
    // Fetches Word uisng axios req
    async fetchWord() {
      return axios({
        method: 'get',
        url: `${apiServer}/words/${this.$route.params.id}`,
      })
        .then((response) => {
          this.word = response.data;
        })
        .catch((err) => {
          console.log('Error while fetching Word details.');
          console.log(err.stack);
        });
    },
    playTrack(word) {
      speechSynthesis.speak(new SpeechSynthesisUtterance(word.word));
    },
  },
};

</script>
