<template>
  <v-card>
    <v-layout row wrap justify-space-around>

      <!-- SPEAK BUTTON -->
      <!-- ------------ -->
      <!-- @click.stop="toggle ? endSpeechRecognition() : startSpeechRecognition()" -->
      <!-- <v-flex xs2 sm1 text-xs-center> -->
        <v-btn
          dark
          @click.stop="toggle ? stopRecording() : startRecording()"
          icon
          :color="!toggle ? 'grey' : (speaking ? 'red' : 'red darken-3')"
          :class="{'animated infinite pulse': toggle}"
        >
          <v-icon>{{toggle ? 'mic_off' : 'mic'}}</v-icon>
        </v-btn>
      <!-- </v-flex> -->

      <!-- TEXT BOX -->
      <!-- -------- -->
      <v-flex xs8 sm9 text-xs-center>
        <p v-if="error" class="grey--text">{{error}}</p>
        <p v-else class="mb-0">
          <p v-if="text.length > 0">
            <span v-for="letter in text" :key="letter.id">
              {{letter}}
            </span>
        </p>
      </v-flex>
      <v-flex xs8 sm9 text-xs-center>
        <p v-if="error" class="grey--text">{{error}}</p>
        <p v-else class="mb-0">
          <p v-if="statusText.length > 0">
            <!-- <span v-for="letter in statusText" :key="letter.id">
              {{letter}}
            </span> -->
            <span>{{statusText}}</span>
        </p>
      </v-flex>


    </v-layout>
  </v-card>
</template>
<script>
import CallbackManager from '@/lib/pocketsphinx/callbackManager.js'; // SB COMMENT
import AudioRecorder from '@/lib/pocketsphinx/audioRecorder.js'; // SB COMMENT

// let MyCallbackManager = CallbackManager; // SB COMMENT
let mycallbackManager; // SB COMMENT

let recognizer;
let recorder; // i think we can replace it with recognition
let isRecorderReady = false; // can i use it to replace toggle?
let isRecognizerReady = false;
let audio_context;

// This follows the CMU dictionary format
var wordList = [["ONE", "W AH N"], ["TWO", "T UW"], ["THREE", "TH R IY"], ["FOUR", "F AO R"], ["FIVE", "F AY V"], ["SIX", "S IH K S"], ["SEVEN", "S EH V AH N"], ["EIGHT", "EY T"], ["NINE", "N AY N"], ["ZERO", "Z IH R OW"], ["NEW-YORK", "N UW Y AO R K"], ["NEW-YORK-CITY", "N UW Y AO R K S IH T IY"], ["PARIS", "P AE R IH S"] , ["PARIS(2)", "P EH R IH S"], ["SHANGHAI", "SH AE NG HH AY"], ["SAN-FRANCISCO", "S AE N F R AE N S IH S K OW"], ["LONDON", "L AH N D AH N"], ["BERLIN", "B ER L IH N"], ["SUCKS", "S AH K S"], ["ROCKS", "R AA K S"], ["IS", "IH Z"], ["NOT", "N AA T"], ["GOOD", "G IH D"], ["GOOD(2)", "G UH D"], ["GREAT", "G R EY T"], ["WINDOWS", "W IH N D OW Z"], ["LINUX", "L IH N AH K S"], ["UNIX", "Y UW N IH K S"], ["MAC", "M AE K"], ["AND", "AE N D"], ["AND(2)", "AH N D"], ["O", "OW"], ["S", "EH S"], ["X", "EH K S"]];
// This grammar recognizes digits
var grammarDigits = {numStates: 1, start: 0, end: 0, transitions: [{from: 0, to: 0, word: "ONE"},{from: 0, to: 0, word: "TWO"},{from: 0, to: 0, word: "THREE"},{from: 0, to: 0, word: "FOUR"},{from: 0, to: 0, word: "FIVE"},{from: 0, to: 0, word: "SIX"},{from: 0, to: 0, word: "SEVEN"},{from: 0, to: 0, word: "EIGHT"},{from: 0, to: 0, word: "NINE"},{from: 0, to: 0, word: "ZERO"}]};
// This grammar recognizes a few cities names
var grammarCities = {numStates: 1, start: 0, end: 0, transitions: [{from: 0, to: 0, word: "NEW-YORK"}, {from: 0, to: 0, word: "NEW-YORK-CITY"}, {from: 0, to: 0, word: "PARIS"}, {from: 0, to: 0, word: "SHANGHAI"}, {from: 0, to: 0, word: "SAN-FRANCISCO"}, {from: 0, to: 0, word: "LONDON"}, {from: 0, to: 0, word: "BERLIN"}]};
// This is to play with beloved or belated OSes
var grammarOses = {numStates: 7, start: 0, end: 6, transitions: [{from: 0, to: 1, word: "WINDOWS"}, {from: 0, to: 1, word: "LINUX"}, {from: 0, to: 1, word: "UNIX"}, {from: 1, to: 2, word: "IS"}, {from: 2, to: 2, word: "NOT"}, {from: 2, to: 6, word: "GOOD"}, {from: 2, to: 6, word: "GREAT"}, {from: 1, to: 6, word: "ROCKS"}, {from: 1, to: 6, word: "SUCKS"}, {from: 0, to: 4, word: "MAC"}, {from: 4, to: 5, word: "O"}, {from: 5, to: 3, word: "S"}, {from: 3, to: 1, word: "X"}, {from: 6, to: 0, word: "AND"}]};
var grammars = [{title: "OSes", g: grammarOses}, {title: "Digits", g: grammarDigits}, {title: "Cities", g: grammarCities}];
var grammarIds = [];

// // This is the list of words that need to be added to the recognizer
// // This is the list of words that need to be added to the recognizer
// // This follows the CMU dictionary format
// const wordList = [['ONE', 'W AH N'], ['TWO', 'T UW'], ['THREE', 'TH R IY'], ['FOUR', 'F AO R'], ['FIVE', 'F AY V'], ['SIX', 'S IH K S'], ['SEVEN', 'S EH V AH N'], ['EIGHT', 'EY T'], ['NINE', 'N AY N'], ['ZERO', 'Z IH R OW'], ['NEW-YORK', 'N UW Y AO R K'], ['NEW-YORK-CITY', 'N UW Y AO R K S IH T IY'], ['PARIS', 'P AE R IH S'], ['PARIS(2)', 'P EH R IH S'], ['SHANGHAI', 'SH AE NG HH AY'], ['SAN-FRANCISCO', 'S AE N F R AE N S IH S K OW'], ['LONDON', 'L AH N D AH N'], ['BERLIN', 'B ER L IH N'], ['SUCKS', 'S AH K S'], ['ROCKS', 'R AA K S'], ['IS', 'IH Z'], ['NOT', 'N AA T'], ['GOOD', 'G IH D'], ['GOOD(2)', 'G UH D'], ['GREAT', 'G R EY T'], ['WINDOWS', 'W IH N D OW Z'], ['LINUX', 'L IH N AH K S'], ['UNIX', 'Y UW N IH K S'], ['MAC', 'M AE K'], ['AND', 'AE N D'], ['AND(2)', 'AH N D'], ['O', 'OW'], ['S', 'EH S'], ['X', 'EH K S']];

// // Grammars
// // const grammars = [{ title: 'Digits', g: grammarDigits }, { title: 'OSes', g: grammarOses }, { title: 'Cities', g: grammarCities }];
// const grammars = [{ title: 'Digits', g: grammarDigits }];
// const grammarIds = [];

// // This grammar recognizes digits
// const grammarDigits = {
//   numStates: 1, start: 0, end: 0, transitions: [{ from: 0, to: 0, word: 'ONE' }, { from: 0, to: 0, word: 'TWO' }, { from: 0, to: 0, word: 'THREE' }, { from: 0, to: 0, word: 'FOUR' }, { from: 0, to: 0, word: 'FIVE' }, { from: 0, to: 0, word: 'SIX' }, { from: 0, to: 0, word: 'SEVEN' }, { from: 0, to: 0, word: 'EIGHT' }, { from: 0, to: 0, word: 'NINE' }, { from: 0, to: 0, word: 'ZERO' }],
// };

// // // This grammar recognizes a few cities names
// // const grammarCities = {
// //   numStates: 1, start: 0, end: 0, transitions: [{ from: 0, to: 0, word: 'NEW-YORK' }, { from: 0, to: 0, word: 'NEW-YORK-CITY' }, { from: 0, to: 0, word: 'PARIS' }, { from: 0, to: 0, word: 'SHANGHAI' }, { from: 0, to: 0, word: 'SAN-FRANCISCO' }, { from: 0, to: 0, word: 'LONDON' }, { from: 0, to: 0, word: 'BERLIN' }],
// // };

// // // This is to play with beloved or belated OSes
// // const grammarOses = {
// //   numStates: 7, start: 0, end: 6, transitions: [{ from: 0, to: 1, word: 'WINDOWS' }, { from: 0, to: 1, word: 'LINUX' }, { from: 0, to: 1, word: 'UNIX' }, { from: 1, to: 2, word: 'IS' }, { from: 2, to: 2, word: 'NOT' }, { from: 2, to: 6, word: 'GOOD' }, { from: 2, to: 6, word: 'GREAT' }, { from: 1, to: 6, word: 'ROCKS' }, { from: 1, to: 6, word: 'SUCKS' }, { from: 0, to: 4, word: 'MAC' }, { from: 4, to: 5, word: 'O' }, { from: 5, to: 3, word: 'S' }, { from: 3, to: 1, word: 'X' }, { from: 6, to: 0, word: 'AND' }],
// // };

export default {
  props: {
    lang: {
      type: String,
      default: 'en-US',
    },
    text: {
      type: [String, null],
      required: true,
    },
  },
  data() {
    return {
      statusText: 'status',
      error: false,
      speaking: false,
      toggle: false,
      isRecognitionRunning: false,
    };
  },
  methods: {
    // A convenience function to post a message to the recognizer and associate
    // a callback to its response
    // postRecognizerJob : function (){}
    postRecognizerJob(message, callback) {
      const msg = message || {};
      if (mycallbackManager) msg.callbackId = mycallbackManager.add(callback);
      if (recognizer) recognizer.postMessage(msg);
    },

    // This function initializes an instance of the recorder
    // it posts a message right away and calls onReady when it
    // is ready so that onmessage can be properly set
    spawnWorker(workerURL, onReady) {
      this.updateStatus('Spawning Worker now..');
      recognizer = new Worker(workerURL);
      recognizer.onmessage = function (event) {
        onReady(recognizer);
      };
      recognizer.postMessage('');
    },

    // To display the hypothesis sent by the recognizer
    updateHyp(hyp) {
      this.updateStatus(`Updating text.. hyp=${hyp}`);
      this.$emit('update:text', hyp);
    },

    // This updates the UI when the app might get ready
    // Only when both recorder and recognizer are ready do we enable the buttons
    updateUI() {
      if (isRecorderReady && isRecognizerReady) {
        // startBtn.disabled = stopBtn.disabled = false;
        this.toggle = true; // guess this is the right thing to do
        console.log('update ui: recorder ready');
      }
      else 
      {
        console.log('update ui: oops.. recorder not ready');
      }
    },

    // This is just a logging window where we display the status
    updateStatus(newStatus) {
      console.log(`Status=${newStatus}`);
      this.statusText = newStatus;
    },

    // // A not-so-great recording indicator
    // displayRecording(display) {
    //   if (display) document.getElementById('recording-indicator').innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    //   else document.getElementById('recording-indicator').innerHTML = '';
    // },

    // Callback function once the user authorises access to the microphone
    // in it, we instantiate the recorder
    startUserMedia(stream) {
      this.updateStatus('In StartUserMedia ..., Recorder initialized');
      const input = audio_context.createMediaStreamSource(stream);
      // Firefox hack https://support.mozilla.org/en-US/questions/984179
      window.firefox_audio_hack = input;
      var audioRecorderConfig = {errorCallback: function(x) {this.updateStatus("Error from recorder: " + x);}};
            this.updateStatus('In StartUserMedia ..., Recorder initialized');

      recorder = new AudioRecorder(input, audioRecorderConfig);
      // If a recognizer is ready, we pass it to the recorder
      if (recognizer) recorder.consumers = [recognizer];
      isRecorderReady = true;
      this.updateUI();
      this.updateStatus('Audio recorder ready');
    },

    // This starts recording. We first need to get the id of the grammar to use
    startRecording: function () {
      // const id = document.getElementById('grammars').value;
      const id = 0;
       if (recorder && recorder.start(id)) {
          // this.displayRecording(true);
          this.updateStatus('Start Recording in progress');

          // ******
          // Copying steps from previous startSpeechRecognition
          // ******
          // We want to reset text each time user starts to record
          this.$emit('update:text', 'ee');
          this.toggle = true;

          // the only place setting it to true
          this.isRecognitionRunning = true;
          this.speaking = true;
        } else {
          this.error = 'startRecording: Speech Recognition Error: Error starting Recording...';
          this.updateStatus('startRecording: Error starting Recording...');
        // return false;
      }
    },

    // Stops recording
    stopRecording: function () {
      // recorder && recorder.stop();
      // displayRecording(false);
      if (recorder && recorder.stop()) {
        // this.displayRecording(false);
        this.toggle = false;
        
        // the only place setting it to false
        this.isRecognitionRunning = false;
        this.speaking = false;

        this.updateStatus('stopRecording:Recording has stopped');
      } else { // remove else part after all test done
        this.error = 'stopRecording: Speech Recognition failed to stop';
        this.updateStatus('stopRecording: Error stopping Recording...');
        // return false;
      }
    },

    // Called once the recognizer is ready
    // We then add the grammars to the input select tag and update the UI
    recognizerReady: function () {
      this.updateGrammars();
      isRecognizerReady = true;
      this.updateUI();
      this.updateStatus('recognizerReady: Recognizer ready');
    },

    // TODO:  WE DON'T NEED THIS METHOD.. DIRECTLY PICK FROM THE ARRAY
    // We get the grammars defined below and fill in the input select tag
    updateGrammars: function () {
      // const selectTag = document.getElementById('grammars');
      const selectTag = 0;
      // for (let i = 0; i < grammarIds.length; i++) {
      //   const newElt = document.createElement('option');
      //   newElt.value = grammarIds[i].id;
      //   newElt.innerHTML = grammarIds[i].title;
      //   selectTag.appendChild(newElt);
      // }
    },

    // This adds a grammar from the grammars array
    // We add them one by one and call it again as
    // a callback.
    // Once we are done adding all grammars, we can call
    // recognizerReady()
    feedGrammar: function (g, index, id) {
      if (id && (grammarIds.length > 0)) grammarIds[0].id = id.id;
      if (index < g.length) {
        grammarIds.unshift({ title: g[index].title });
        this.postRecognizerJob(
          { command: 'addGrammar', data: g[index].g },
          function (id) { this.feedGrammar(grammars, index + 1, { id }); },);
      } else {
        // We are adding keyword spotting which has id 0
        // grammarIds.push({ id: 0, title: 'Keyword spotting' });
        this.recognizerReady();
      }
    },

    // This adds words to the recognizer. When it calls back, we add grammars
    feedWords: function (words) {
      console.log( `FeedWords: grammars[0]=${(grammars,0)}`);
      this.postRecognizerJob({ command: 'addWords', data: words },
        function () { this.feedGrammar(grammars, 0); });
    },

    // This initializes the recognizer. When it calls back, we add words
    initRecognizer: function () {
      console.log('This is in initRecognizer');
      // You can pass parameters to the recognizer, such as :
      // {command: 'initialize', data: [["-hmm", "my_model"], ["-fwdflat", "no"]]}
      this.postRecognizerJob(
        { command: 'initialize' },
        function () {
          if (recorder) recorder.consumers = [recognizer];
          console.log(`initRecognizer, feedword=${wordList}`);
          this.feedWords(wordList);
      });
    },

  }, // methods

  mounted() {
    // replicating window.onload functionality
    window.addEventListener('load', () => { 
      // if (window.location.protocol != "https:")
      //     window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);

      this.updateStatus('window.onload: Initializing.. waiting for approval to access your microphone');
      // Start spawning the web worker, i.e. recognizer
      // mycallbackManager = new MyCallbackManager();
      mycallbackManager = new CallbackManager();
      
      this.spawnWorker('@/lib/pocketsphinx/recognizer.js', function(worker) {
        // recognizer.addEventListener('message', function (e) {
        worker.onmessage = function (e) {
          console.log('spawned worker event handler');

          // When we have a callback id to be called
          if (e.data.hasOwnProperty('id')) {
            var clb = mycallbackManager.get(e.data['id']);
            var data = {};
            if( e.data.hasOwnProperty('data')) data = e.data.data;
            if(clb) clb(data);
          }

          // When the recognizer has a new hypothesis
          if (e.data.hasOwnProperty('hyp')) {
            var newHyp = e.data.hyp;
            if (e.data.hasOwnProperty('final') &&  e.data.final)
              newHyp = "Final: " + newHyp;
            this.updateHyp(newHyp);
          }

          // When we have an error
          if (e.data.hasOwnProperty('status') && (e.data.status == "error")) {
            this.updateStatus(`Error in ${e.data.command} with code ${e.data.code}`);
          }
        } // end of worker.onmessage event listner
        
        console.log('calling initRecognizer');
        this.initRecognizer();
      }); // end this.spawnworker

      // The following is to initialize Web Audio
      try {
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        window.URL = window.URL || window.webkitURL;
        audio_context = new AudioContext();
      } catch (e) {
        console.log(`Error initializing Web Audio browser: ${e}`);
        // this.updateStatus("Error initializing Web Audio browser");
      }

      if (navigator.mediaDevices.getUserMedia) navigator.mediaDevices.getUserMedia({audio: true}).then(this.startUserMedia,).catch(function(e) {
                                        // this.updateStatus("No live audio input in this browser");
                                        console.log("No live audio input in this browser");
                                    });
        else this.updateStatus("No web audio support in this browser");


    }); // end window.addEventListener('load')

  }, // mounted

}; // export default

</script>
