<!--
****************
This is the main template layout that will be extended by all .vue files
* v-icon repo: https://material.io/tools/icons/?style=twotone
****************
-->

<template>
  <v-app id="wannabebee" >

    <!-- Left Navigation Panel -->
    <v-navigation-drawer fixed v-model="drawer" app>
      <v-list dense>
        <!-- Menu Option: 1 -->
        <router-link v-bind:to="{ name: 'home'}" class="side_bar_link">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Home</v-list-tile-content>
          </v-list-tile>
        </router-link>

        <!-- Menu Option: 2 -->
        <router-link v-bind:to="{ name: 'contact'}" class="side_bar_link">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>email</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Contact</v-list-tile-content>
          </v-list-tile>
        </router-link>

        <!-- Menu Option: 3 -->
        <router-link v-bind:to="{ name: 'flashCards'}" class="side_bar_link">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>view_quilt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Flash Cards</v-list-tile-content>
          </v-list-tile>
        </router-link>

        <!-- Menu Option: 4 -->
        <router-link v-bind:to="{ name: 'soundCards'}" class="side_bar_link">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>volume_up</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Sound Cards</v-list-tile-content>
          </v-list-tile>
        </router-link>

        <!-- Menu Option: 5 -->
        <router-link v-bind:to="{ name: 'quizBuddy'}" class="side_bar_link">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>accessibility_new</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Quiz Buddy</v-list-tile-content>
          </v-list-tile>
        </router-link>

        </v-list>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title> Home </v-toolbar-title>
      <!-- Adding Button: "Add Flash Card" -->
      <v-spacer/>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-bind:to="{ name: 'addFlashCard' }">Add Flash Card</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- Content -->
    <v-content>
      <v-container fluid>
        <div id="app">
          <router-view/>
        </div>
      </v-container>
    </v-content>

    <!-- Footer -->
    <v-footer color="indigo" app>
      <span class="white--text">WannaBeBee&copy; 2019</span>
    </v-footer>

  </v-app>
</template>

<!--
****************
Script
****************
-->
<script>
// link to include all styling
import './assets/stylesheets/main.css';

export default {
  data: () => ({
    drawer: null,
  }),
  props: {
    source: String,
  },
};
</script>
