.rounded-card{
  border-radius:15px;
}
.soundcard .soundplay-card, .word-card {
    transition: ease-in 300ms;
    backface-visibility: hidden;
    /* position: relative; */
    /* top: 10px; */
    right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.soundcard .soundplay-card {
    /* z-index: 2; */
    /* for firefox 31 */
    transform: rotateX(0deg);
    /* background-color: pink; */
    /* background-color: lighten(#000, 20%); */
}
.soundcard .word-card {
    transform: rotateX(180deg);
    background-color: gainsboro;
    /* flex-direction: column; */
    font-size: 15px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
}
.soundcard .soundplay-card.reveal-word {
    transform: rotateX(180deg);
}
.soundcard .word-card.reveal-word {
    transform: rotateX(0deg);
    /* background-color: rgb(18, 85, 148); */
}
